<script>
	export let html
	export let raw
	export let text
	export let backgroundColor

	import FormattedHtml from "./FormattedHtml.svelte"
</script>

<div style={backgroundColor ? `background-color: ${backgroundColor}` : null} class="rounded">
	{#if text}
		{text}
	{:else if html}
		{#if raw}
			{@html html}
		{:else}
			<FormattedHtml {html} />
		{/if}
	{/if}
</div>
