<script>
	export let items
	export let extra

	import cssVars from "svelte-css-vars"
</script>

<div class="px-2">
	<div class="flex flex-wrap -mx-2 justify-center">
		{#each items as item}
			<div class="w-full mb-4 sm:px-2 card-col" use:cssVars={extra}>
				<slot {item} />
			</div>
		{/each}
	</div>
</div>

<style lang="postcss">
	.card-col {
		@apply w-full;
	}

	@screen sm {
		.card-col {
			width: calc(100% / var(--cardsPerLineSm));
		}
	}

	@screen lg {
		.card-col {
			width: calc(100% / var(--cardsPerLine));
		}
	}
</style>
